{% extends 'base.html' %}
{% block content %} 
    <div class="row">
      <form action = "https://imdbmoviereview.herokuapp.com/results.html" method="POST">
          <label for="movie-review" style="color:wheat;">Give your honest opinion...</label>
          <textarea id="movie-review" name="result" class="form-control" rows="3"></textarea>
          <center><button class="btn btn-primary" type="submit", value="submit" style="margin: 1%; padding: 1%; float:inherit; color:white;">Submit</button>
          </center>      </form>
    </div>
{% endblock %}